.player-enter {
    opacity: 0;
    transform: translateY(100%);
}
.player-exit {
    opacity: 1;
    transform: translateY(0%);
}
.player-enter-active {
    opacity: 1;
    transform: translateY(0%);
}
.player-exit-active {
    opacity: 0;
    transform: translateY(100%);
}
.player-enter-active,
.player-exit-active {
    transition: all 300ms ease;
}
